<!-- this form displays data from json-->

<div ng-controller="myCtrl">
<!-- <p>{{ans}}</p>-->
</div>   
<mat-accordion>
    <mat-expansion-panel *ngFor = "let main of mains$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{main.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <span *ngFor = "let photo of photos$">
        <span *ngIf="main.id == photo.id">
        {{photo.completed}}
        <!-- -----yaniv----- show pic
           <img [src] = photo.url>
        -->
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="saveToDo (photo.title, photo.completed)"> Save </button>
        </mat-card-actions>
      </span>
    </span>
    </mat-expansion-panel>
  </mat-accordion>

