<mat-selection-list #todos>
    <mat-list-item  *ngFor="let todo of todos$ | async">
        <mat-list-option>
          {{todo.title}}
        </mat-list-option>
    </mat-list-item>
</mat-selection-list>
      
   