     <mat-accordion >
        <mat-expansion-panel *ngFor = "let article of articles$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title> 
              <div mat-card-avatar *ngIf = article.img> <!-- check if null-->
              <img [src] = article.img> <!-- loding the img from the db-->
             </div>
             <div class = "check"> 
             {{article.category}}  
            </div> 
            </mat-panel-title>
          </mat-expansion-panel-header> 
           {{article.body}}
            <button mat-raised-button 
                    color="primary"
                    (click) = deleteArticle(article.id)>
              Delete
            </button>        
        </mat-expansion-panel>
      </mat-accordion>

      